*{
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    
  
}

.footer{
    background-color: skyblue;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.btn__social{
    display:inline-block;
    border-radius: 50% !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background: #fff;
    width:40px;
    height:40px;
    margin:5px;
    position: relative; 
    transform: scale(1);
    transition: all .5s ease-in-out;
}
.btn__social>i{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.btn__social:hover{
    text-decoration: none;
    transform: translateY(-5px) scale(1.2);
    z-index:100;
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    transition: all .5s ease-in-out;
}

/* Logo*/

.logo {
    background: transparent;
    padding: 20px 20px;
    text-align: center;    
    position: relative;
} 
.logoImg{
    position: absolute;
    width:30px;
    top:-10px;
    left:50px;
    transition: left 1s ease-out 0.5s, transform 1s step-end 0.5s;
}
.logo:hover .logoImg{
    left:200px;
    transform: scale(-1, 1);
    transition: left 1s ease-out 0.5s,transform 1s step-end 0.5s;
}
.logo span {
  font-family: 'Merriweather', serif;
  position: relative;
  color: floralwhite;
  font-size: 30px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.logo span:before {
   content: ""; 
  position: absolute;
  width: 18px;
  height: 18px;
  top: -18px;
  left: -18px;
  border: 4px solid floralwhite;
  box-sizing: border-box;
}


/*LOGO-end*/
.navbar-collapse{
    justify-content: end;
}

.jumbotron {
    padding:0 !important;
    margin:0 0 40px 0 !important;
    color:darkblue;
    background-color: transparent !important;
    height:250px;
    position: relative;
    
}
.jumbotron__info>h1{
    padding:15px 0;
}

.jumbotron>img{
    object-fit: cover;
    z-index:-1;
    position:absolute;
    
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #007bff;
}

.card{
    margin-bottom:50px;
}
.card-title{
    font-size:30px;
    font-weight: bold;
}
.card-text{
    font-size:24px;
}

.routeBtn{
   text-align:center;
    margin-bottom:20px;
}
.btn-social-icon{
    margin-right:5px;
}

.tab-content{
    border-radius: 5px;
    border: 1px solid lightblue;
    padding:10px;
}
.nav-tabs{
    border-bottom: 0px!important;
    margin-left: 5px;
}
.nav-tabs>.nav-item>.active{
    border-color:lightblue lightblue #fff !important;
}
.nav-tabs .nav-item .show .nav-link, .nav-tabs .nav-link .active :hover{
    border-color: ligntblue lightblue #fff !important;
}

.newslist>h5{
    margin-bottom:20px;
}

.newslist__item{
    display:flex;
    align-items: center;
    margin-bottom:20px;
    border-bottom:1px solid;
    padding:6px 0px 10px 0px;;
}


.newslist__item:last-child{
    border-bottom:0px;
    padding-bottom:0px;
}
.newslist_item__title{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:10px;
    
}
.newslist_item__title:hover{
    box-shadow: -5px 3px 17px 0px rgba(50, 50, 50, 0.2);
    border:1px solid lightgrey;
    border-radius: 10px;
    padding:9px;
    text-decoration: none;
}
.newslist_item__title>i{
    transform: rotate(0deg);
    transition:all 0.2s ease-out 0.2s;
}
.newslist_item__title:hover i{
    transform: rotate(20deg);
    transition:all 0.2s ease-out 0.2s;
}
.newslist_item__title>span{
    line-height: 1;
}

.main_block{
    margin-right: 0px;
    margin-bottom: 40px;
}

.title__add{
    justify-content: space-between;
    margin-bottom: 20px;
}
.news__items{
    padding:20px;
    border-radius: 20px;
    border:1px solid lightgray;
    margin-bottom:40px;
    background-color: gainsboro;
}
.news__item{
    background-color: floralwhite;
    border-radius: 10px;
    padding:15px;
    align-items: center;
    margin-bottom:20px;
}
.news__item:hover{
   box-shadow:         5px 5px 15px 0px rgba(50, 50, 50, 0.75);
}
.news_item__title{
    font-size:24px;
    margin-bottom:5px;
}
.news_item__text{
     margin-bottom:45px;
}
.news_item__info{
    position:relative;
}
.news_item__detailbtn{
    position:absolute;
    right:0;
    bottom:0;
}
dt{
    margin-bottom: 15px;
}
.card-body>dl{
    margin-bottom: 0;
}
.route_card{
    margin-top:20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.routes_info{
    margin-bottom:20px;
}

.news_list,.routes_list{
    width:90%;
    margin:auto;
}
.nav-item{
    cursor:pointer;
}

.comments_list{
    padding: 10px;
    border-radius: 8px;
    border:1px solid lightblue;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background-color: #fff;
}
.comment_list__item{
    padding:10px;
    border-radius: 8px;
    border:1px solid lightblue;
    background-color: floralwhite;
    margin-bottom: 10px;
    
}


.leaflet-container {
    height: 600px;
    width: 85%;
    border-radius: 8px;
    border:1px solid lightblue;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding:8px;
    margin-right:1px;
}
.map_block{
    width: 100%;
    display: flex;
}
.map_tabs{
    margin-top:20px;
    width:10%;
}
.map_tab
{
    margin-bottom:-5px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: darkblue;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 5px;
    cursor:pointer;
    position:relative;
    border-radius:0 8px 8px 0;
    transform: scale(1);
    z-index:0;
    transition:all .5s ease-in-out;
}

.all{
    background: linear-gradient(to bottom, lightblue, white);
}
.good{
    background: linear-gradient(to bottom, green, white);
}
.middle{
    background: linear-gradient(to bottom, orange, white);
}
.bad{
    background: linear-gradient(to bottom, red, white);
}
.map_tab:hover
{
    box-shadow: 0 5px 2px rgba(0,0,0,0.3);
    z-index:101;
    transition:all .5s ease-in-out;
}
.map_tab:active{
    box-shadow: 0 7px 4px rgba(0,0,0,0.8);
    transition:all .5s ease-in-out;
}

.current
{
    box-shadow: 0 5px 2px rgba(0,0,0,0.3);
    z-index:100;
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}


.leafmap_route{
    width:100%;
}


.pulse_btn {
    width: 235px;
  border: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  cursor: pointer;
  transition: all .2s;
    animation: shadow 1.9s infinite linear;
}

.pulse_btn:hover {
  transition: all .2s;
  animation: none;
  background-color: skyblue;
  color: #fff;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 0px skyblue, 0 0 10px 0px skyblue; 
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 20px rgba(255, 48, 26, 0); 
  } 
}


@media screen and (max-width:1200px) {
    .jumbotron{
        height: auto;
    }
    .newslist{
        display:none;
    }
    .img-fluid{
        display:none;
    }
    .mr-auto{
        margin-right: 0 !important
    }
    .map_tab{
        min-width:90px;
    }
}
@media screen and (max-width:750px) {
    .jumbotron{
        display:none;
    }
    .news__items{
        background: #fff;
        border: 0;
    }
    .navbar{
        margin-bottom:20px;
    } 
    .leaflet-container{
        width:90%;
        margin:auto;
    }
    .map_block{
        flex-direction: column-reverse;
    }
    .map_tabs{
        display:flex;
        width:80%;
        margin:auto;
        
    }
    .map_tab{
        border-radius: 8px 8px 0 0;
        min-width:70px;
    }
    .routes_category{
        display:block;
    }
}